
body{
    margin: 0px;
}
div,input, textarea{
    box-sizing: border-box;
}
*{
    margin: 0;
}
.main-background {
    width: 100%;
    height: 400px;
    background-image: url(../img/shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
     
}
/* -- background-size: cover-- 공백없이 백그라운드 채워라   contain - 백그라운그림 손살시키지 마라*/

.main-title {
    color: white;
    text-align: center;
    font-size: 50px;
}
.main-content {
    color: white;
    text-align: center;
    padding: 20px;
}
.btn {
    padding: 10px;
    width: 100px;
    font-size: 15px;
    background-color:antiquewhite;
    border: none;
    border-radius: 5px;
    display: block;
    margin-left: auto; 
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    transition: 0.6s;
}
.cart-btn{
    padding: 10px;
    width: 150px;
    font-size: 18px;
    background-color:chocolate;
    border: none;
    border-radius: 5px; 
    margin-top: 10px;   
    cursor: pointer;
    transition: 0.5s;
    color: white;
}
.cart-btn:hover{
    background-color:cadetblue;
    
}
.btn:hover{
    background-color: aquamarine;
}

.position {
    position: absolute;
    bottom: 120px;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
}        
/* absolute align - left:0 right:0 margin:auto;width 값 지정   */
.middle-box {  
    width: 90%;
    max-width: 800px;
    background-color: beige;      
    right: 0;
    left: 0;
    margin: auto;
    margin-top: -10px;
  }
.middle-content {
    text-align: center;
    padding: 20px;
}
.middle-content p{
    padding: 10px;
}
.middle-content h3{
    padding-bottom: 10px;
}
.middle-content p{
    font-size: 12px;
    color:blue;
}

.form-background {
    margin-top: 140px;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    padding: 40px;
}

.form-white {
    width: 90%;
    max-width: 700px;
    padding: 20px;
    background: white;
    margin: auto;
    border-radius: 5px;
    
}

.form-input {
    padding: 10px;
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    width: 100%;
}

.form-harf {
    width: 50%;
    float: left;
    padding: 10px
}

.form-whole {
    padding: 10px;
}

.form-submit {
    width: 100px;
    background-color: darkorange;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    padding: 10px;
    margin-left: auto;
    display: block;
    margin-right: 10px;
}

.main-title-box {
    margin-top: 50px;
}
.log-menu {
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
}
.flex-container {
    display: flex;
    align-items: center;
   }
.top-mend {
    padding-right: 20px;
    padding: 10px;
    text-decoration: none;
}

.flex-box {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: white;
}

.top-menu {
   padding-right: 30px;
    color: white;   
    text-align: center;
}
.flex-container a{
    text-decoration: none;
}

.cart-background {
    width: 100%;
    background-color: lightblue;
    padding: 30px;
    margin-top: 40px;
       }

.cart-container {
    width: 100%;
    max-width: 700px;
    margin: auto;
    
 }

.cart-table {
    background: white;
    width: 100%;    
    padding: 20px;
    text-align: center;    
    border-radius: 5px;
}
.cart-table th, .cart-table td{
    border-bottom: 1px solid grey;
}


.cart-price {
    width: 20%px;   
}

.cart-total {
     width: 20%;    
}

.cart-title {
    padding: 10px;
}


.img-contain {
    object-fit: contain;
}
.space{
    margin-top: 160px;
}
.custom-link {
        text-decoration: none;   
        padding-left: 20px;
     }
.custom-link:link {
    color: black;
}
.custom-link:visited {
    color: red;
}
.explain-container {
    text-align: center;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
   
}
.explain-container::after{
    content: '';
    display: block;
    clear: both;
}
.explain-container i{
    background-color: burlywood;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top:8px;
    box-sizing: border-box;
    color: white;
}
.explain-container div{   
    float: left;
    width: 25%;
    height: 100px;
}

.product-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;   
    padding: 30px;
   }

.product-item {
    float: left;
    width: 29%;
    margin: 2%;  
    padding: 10px;
    background-color: aquamarine;
          }
.product-item img{
    width: 100%;
    display: block;
    left: 0;
    right: 0;
    margin: auto;   
}

.overray {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    opacity: 0;
   transition: all 1.5s;
/*   transition-timing-function:steps(7, end);*/
    cursor: pointer;   
}
.overray:hover{
    opacity: 1;     
}
.overray p{
    text-align: center;
    color: white;
    padding-top: 20px;
    font-size: 24px;
}

/* --------------   media ----------  */
@media screen and (max-width:992px){
    .main-title {
       font-size: 35px;
     }
    .explain-container div{  
       width: 50%; 
       margin-bottom: 30px;
    }
}
@media screen and (max-width:768px){
    .main-title {
       font-size: 20px;
     }
    .explain-container div{
        float: none;
        width: 100%;   
        margin-top: 20px;
    }
}









.overlay-black {
    width: 100%;
    height: 100%;     
    background: rgba(0,0,0,0.4);  
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
    position: relative;
    top: 100%;
    transition: all 1.2s;
}
.wrap-overlay:hover .overlay-black{     
    top: 50%;
    transition: 1.3s;   
}

.wrap-overlay {
   width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;  
    cursor: pointer;
   }



.test::-webkit-progress-value {
    background: black;
    
}
progress {
  /*기본 배경은 없애주는게 좋습니다*/
  -webkit-appearance: none;
  -moz-appearance : none;
  appearance: none;
  background: white;
/* IE10 호환성용 */
  color: red;
}
progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: red;
  border-radius: 2px;
}

/*파이어폭스 호환성을 위해*/
progress::-moz-progress-bar {
  background-color: red;
  border-radius: 2px;
}
